@include b(map-infowindow) {
  @include when(home) {
    @include when(1) {
      width: 300px;
      height: 174px;
      padding: 24px;
      box-sizing: border-box;
      background: url("../../../../assets/images/map-bg-01.png") no-repeat;
      .body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 78px;
        padding-left: 93px;
        dt {
          position: absolute;
          left: 0;
          top: 0;
          width: 78px;
          height: 78px;
          border-radius: 50%;
          overflow: hidden;
          background: url("../../../../assets/images/photo.png") center center
            no-repeat;
          background-size: 40% auto;
          background-color: #4a8cff;
        }
        .name {
          padding-right: 10px;
          color: #bacedd;
        }
      }
      .footer {
        display: flex;
        margin-top: 25px;
        button {
          display: flex;
          align-items: center;
          width: 70px;
          height: 28px;
          margin-right: 12px;
          text-align: center;
          line-height: 26px;
          background: rgba(4, 192, 255, 0.1);
          border-radius: 4px;
          border: 1px solid #4a8cff;
          transition: all 0.25s ease 0s;
          &:hover {
            background: #4a8cff;
          }
          &:last-child {
            margin: 0;
          }
        }
        .video,
        .audio,
        .message {
          width: 16px;
          height: 16px;
          margin-right: 5px;
        }

        .video {
          background: url("../../../../assets/images/video.png");
        }
        .audio {
          background: url("../../../../assets/images/audio.png");
        }
        .message {
          background: url("../../../../assets/images/message.png");
        }
      }
    }
    @include when(4) {
      width: 213px;
      height: 141px;
      padding: 9px 10px 10px 25px;
      background: url("../../../../assets/images/map-bg-04.png") no-repeat;
      .header {
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        line-height: 21px;
        height: 32px;
        line-height: 32px;
      }
      .body {
        padding-top: 10px;
        font-size: 14px;
        font-family: SourceHanSansCN-Regular, SourceHanSansCN;
        font-weight: 400;
        color: #ffffff;
        line-height: 24px;
      }
    }
  }
}

@include b(marcker) {
  @include e(content) {
    @include when(4) {
      position: relative;
      width: 156px;
      height: 169px;
      img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .circle {
        position: absolute;
        left: 50%;
        bottom: -50px;
        margin-left: -75px;
        width: 150px;
        height: 150px;
        border: 0 solid transparent;
        border-radius: 50%;
      }
      .circle:before,
      .circle:after {
        content: "";
        border: 2px solid rgba(252, 87, 81, 1);
        border-radius: 50%;
        width: 150px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        animation: anim 1s linear infinite;
        opacity: 0;
        background-color: rgba(252, 87, 81, 0.2);
      }
      .circle:after {
        animation-delay: 0.5s;
      }
      @keyframes anim {
        0% {
          transform: scale(0);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: scale(1.5);
          opacity: 0;
        }
      }
    }
  }
}
