@include b(button) {
  height: 24px;
  padding: 0 14px;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.25s ease 0s;
  @include e(default) {
    line-height: 22px;
    color: #04c0ff;
    background: rgba(4, 192, 255, 0.1);
    border: 1px solid #04c0ff;
    &:hover {
      background-color: #04c0ff;
      color: #fff;
    }
  }
  @include e(primary) {
    color: #fff;
    border: none;
    background: linear-gradient(180deg, #003da0 0%, #498bff 97%);
    &:hover {
      background: linear-gradient(180deg, #498bff 0%, #003da0 97%);
    }
  }
}
