@include b(box) {
  background: rgba(47, 68, 164, 0.4);
  @include e(header) {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    padding-right: 18px;
    line-height: 50px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 15px;
      width: 5px;
      height: 20px;
      background: linear-gradient(180deg, #b1e2ff 0%, #17a7ff 100%);
    }
    .title {
      margin: 0;
      padding: 0 18px;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
    }
    .operation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 1;
    }
  }
}
